#create-winery-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.formDiv {
  width: 100%;
  margin: 10px
}
.dropdown, .formDiv> input,
textarea {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 16px;
  margin: 10px;
  font-family: inherit;
}

.dropdown select {
  color: #aaaaaa;
  font-family: inherit;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border-color: #ccc;
  width: 100%;
  transition: all 0.2s ease;

}

.formDiv > label {
  font-weight: 500;
}

.formDiv > textarea {
  height: 150px;
  border-width: 2px;
}

/* .dropdown {
  width: 100%;
} */
