.wineryCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  border-top: 1px solid lightgray;
  height: 250px;
}

.wineryCardImages {
  max-height: 300px;
  width: 40%;
  padding: 10px;
}

.wineryCardImages img {
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.wineryCardDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
}

.wineryCardDetails * {
  margin: 5px;
  text-align: left;
}



hr.wineryCard {
  width: 20px;
}

h6 {
  font-size: 14px;
  color: gray;
  font-weight: 400;
}

h4 {
  font-weight: 400;
  letter-spacing: 0.2px;
}

hr {
  color: lightgray;
  width: 30px;
}

.cardVarietalButton {
  font-size: 14px;
  color: gray;
}

.topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.parties {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
