/* TODO Add site wide styles */

#fixie {
  position: fixed;
  font-size: 300px;
  z-index: 0;
}

body {
  font-family: "Raleway", "Futura", "Helvetica", sans-serif;
  font-size: 18px;
  width: 100vw;
  margin: 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

p {
  line-height: 32px;
}

h1 {
  font-size: 5vw;
  font-weight: 700;
}
h2 {
  font-size: 4vw;
  font-weight: 600;
}
h3 {
  font-size: 3vw;
  font-weight: 500;
  display: inline-block;
}

.submitButton {
  font-family: inherit;
  border: 1px solid #ff385c;
  background-color: inherit;
  padding: 10px;
  border-radius: 20px;
  font-size: inherit;
  color: #ff385c;
  font-weight: 500;
  width: fit-content;
}

input:not(#location, #date, #time, #guests) {
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  font-family: inherit;
  font-size: inherit;
  margin:5px

}

hr.full {
  width: 100%;
  color: lightgray;
}

#fourzerofour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#fourzerofour > * {
  margin: 10px;
}
