/* TODO Add site wide styles */
* {
  box-sizing: border-box;
}

#fixie {
    position: fixed;
    font-size: 300px;
    z-index: 0;
}

body {
  font-family: "Raleway", "Futura", "Helvetica", sans-serif;
  width: 100%;
  margin: 0px;
}

h1 {
  font-size: 5vw;
  font-weight: 700;
}
h2 {
  font-size: 5vw;
  font-weight: 600;
}
h3 {
  font-size: 5vw;
  font-weight: 500;
}
