/* TODO Add site wide styles */
html {
    width: 100%;
}

body {
  font-family: "Raleway", "Futura", "Helvetica", sans-serif;
  width: 100%;
}

h1 {
    font-size: 5vw;
    font-weight: 700;
}
h2 {
    font-size: 5vw;
    font-weight: 600;
}
h3 {
    font-size: 5vw;
    font-weight: 500;
}
