h1 {
  color: #ff385c;
}

.nav-black {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  z-index: 3000;
  position: sticky;
}

.nav-black a {
  color: white !important;
}

.nav-white {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3000;
  position: sticky;
}

.profile-dropdown {
  background-color: white;
  color: black;
  list-style: none;
  position: fixed;
  top: 65px;
  border-radius: 32px;
  padding: 10px;
  width: 225px;
  z-index: 100;
  filter: drop-shadow(1rem, 1rem, 1rem, black);
}
.profile-dropdown a {
  color: black !important;
}

.navigation-left {
  padding-left: 20px;
}

.profile-dropdown li {
  padding: 10px;
}

#navigation-top {
  background-color: inherit;
  color: black;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navigation-bottom {
  margin-bottom: 10px;
}
#navigation-top a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

#user-button {
  background-color: white;
  border-radius: 21px;
  padding: 5px 5px 5px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  margin: 10px;
}

#user-circle {
  font-size: 30px;
  color: gray;
  padding: 0px 5px;
}

#bars {
  font-size: 16px;
  color: black;
  padding: 0px 5px;
}

.navLinks-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.nav a {
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.NavLink {
  padding: 10px;
}

.search-bar {
  background-color: white;
  border-radius: 32px;
  border: 1px solid lightgray;
  filter: drop-shadow(0.75rem, black);
}

.search-bar > form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar > form > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: black;
  font-weight: 600;
  font-size: 12px;
  padding: 14px 24px;
  border-radius: 32px;
}

.searchButton {
  margin-right: 10px;
  background-color: #ff385c;
  color: white;
  padding: 16px;
  border-radius: 50%;
  border: none;
}

.search {
  font-size: 16px;
}

.search-bar input {
  font-family: inherit;
  border: none;
}

.profile-button-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
}

.loginlogout {
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-size: 16px;
  padding: 0px;
  font-weight: 500;
}
